#belt-containter {
	width: 100%;
}

#belt-containter .title {
	font-size: 1.2em;
}

#belt-containter .title > .icon {
	font-size: 0.9em;
}

#belt-containter .description code {
	white-space: pre-line;
}

.description > table th,
.description > table td {
	padding: 1px 16px 1px 16px;
}
.description a       { color: #4183c4 !important; }
.description a:hover { color: #1e70bf !important; }

.belt-img {
	position: relative;
	margin-bottom: 10px;
}
.belt-img > img:nth-child(2) {
	position: absolute;
	top: 30px;
	left: 0;
}

img.belt {
	opacity: 0;
	transition: opacity 0.3s;
}
img.belt.active {
	opacity: 1;
	transition: opacity 0.3s;
}
