{{define "footer"}}
<div class="ui inverted vertical footer segment" {{if not .CtrlsEnabled}}style="display:none;"{{end}}>
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="column">
				<label for="beltsfx">Twitch Chat</label>
				<div class="ui inverted segment">
					<textarea id="chat-box" rows="15" style="width:100%">
					</textarea>
				</div>
			</div>

		</div>
		<div class="ui inverted section divider"></div>
		<div><i class="angle left icon"></i><i class="angle right icon"></i></div>
	</div>
</div>

{{if not .CtrlsEnabled}}
<div class="ui inverted vertical footer text segment">
	<div class="ui center aligned container" style="font-size: 0.8em;">
		<i class="angle left icon"></i><i class="angle right icon"></i>
		<br />
		Don't have any FAK?
		<br />
		Download our
		<a href="https://play.google.com/store/apps/details?id=in.fakco.fakit">Android</a>
		or
		<a href="https://github.com/Fake-Coin/FakeCoin-qt/releases/latest">Desktop</a>
		app
		and hit up the
		<a href="https://tap.fakco.in/">FakeCoin tap</a>.
	</div>
</div>
{{end}}

{{end}}
